
  <app-toolbar [items]="rutas" [texto]="currentEntity.name"></app-toolbar> 
<div class="grid justify-center my-3">
  <div class="card card-compact w-96 shadow-2xl shadow-black">
    <div class="card-body bg-base-200">
      <div class="card-title">
        Administración <span class="text-primary">Roles</span>
      </div>
      <div class="divider"> </div>
      <div class="grid">
        <label for="">Nombre:</label>
        <input class="input input-primary" type="text" name="" id="" placeholder="Ejemplo: Pedro Perez"
          [(ngModel)]="currentEntity.name">

          <div class="form-control">
            <label for="">Admin</label>
            <label class="label cursor-pointer justify-start">
              <input type="checkbox" class="toggle toggle-primary"
              [(ngModel)]="currentEntity.admin" />
              <span class="label-text ml-2">Si/No</span>
            </label>

          </div>
        <div class="form-control">
          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-primary"
            [(ngModel)]="currentEntity.enable" />
            <span class="label-text ml-2">Activo</span>
          </label>

          <div class="form-control">
            <label class="label cursor-pointer justify-start">
              <input type="checkbox" class="toggle toggle-primary"
              [(ngModel)]="currentEntity.archived" />
              <span class="label-text ml-2">Activo</span>
            </label>

        <input class="input input-primary" type="date" name="" id=""
        [(ngModel)]="currentEntity.updated">
  
        <input class="input input-primary" type="date" name="" id=""
        [(ngModel)]="currentEntity.created">
      </div>

      <h5>Persona</h5>

      <app-rol-combobox (personEmitter)="selectPerson($event)" [personId]="''+currentEntity.fkpersonId">
      </app-rol-combobox>
      <br>
     <div>

      <table class="table table-compact">
     <thead>
      <tr>
        <th>PERMISO</th>
        <th>ELIMINAR</th>

      </tr>
    </thead>
    <tbody>

      <div *ngIf="currentEntity.rolId !== 0">
        <div class="flex flex-row p-2 bg-neutral rounded" *ngFor="let aut of autorizacionList"> 
          <p>{{aut.name}}</p> <p (click)="quitarAuth(aut)">eliminar</p>
        </div>   
        <app-authority-search (authorityEmitter)="autorizacion($event)"></app-authority-search>
      </div>
      <div *ngIf="currentEntity.rolId === 0">
        <div class="flex flex-row p-2 bg-neutral rounded" *ngFor="let aut of autorizacionList"> 
          <p>{{aut.name}}</p> <p (click)="quitarAuth2(aut)">eliminar</p>
        </div>   
        <app-authority-search (authorityEmitter)="autorizacion2($event)"></app-authority-search>
      </div>
    <br>
      <div class="card-actions">
        <button class="btn btn-primary btn-sm" (click)="save()">Guardar</button>
        <button class="btn btn-sm" (click)="cancelar()">Cancelar</button>
      </div>
  <div class="divider"> </div>

  <div class="card card-compact shadow-2xl shadow-black bg-black-800 ">
    <div class="card-body bg-base-200">
      <div class="card-title">Precaución</div>
      <p>Si elimina el registro no prodrá recuperarlo</p>
      <div class="card-actions">
        <label for="my-modal-6" class="btn modal-button btn-error btn-xs">Eliminar</label>

        <input type="checkbox" id="my-modal-6" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Por favor confirme la eliminación</h3>
            <p class="py-4">No se podrán revertir los cambios
            </p>
            <div class="modal-action">
              <label for="my-modal-6" class="btn btn-info btn-success" (click)="deleteById()">Confirmar</label>
              <label for="my-modal-6" class="btn btn-secondary">Cancelar</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



