<div class="flex flex-row p-2 bg-neutral rounded">
  <button (click)="irNuevoRol()" class="btn  h-9 w-15 btn-sm rounded bg-neutral-content text-black ">
      <svg class="w-3 h-3 mx-1" fill="black" xmlns="http://www.w3.org/2000/svg" id="Isolation_Mode" data-name="Isolation Mode" viewBox="0 0 24 24" ><polygon points="24 10.5 13.5 10.5 13.5 0 10.5 0 10.5 10.5 0 10.5 0 13.5 10.5 13.5 10.5 24 13.5 24 13.5 13.5 24 13.5 24 10.5"/></svg>
      <span class="hidden md:inline">Nuevo</span>
      
  </button>
  <div class="text-sm breadcrumbs text-white ml-2 flex-auto">
    <app-migas-pan-web [items]="rutas"></app-migas-pan-web>
    </div>
    <input #inputSearch class="input input-primary input-sm h-10 w-55" type="text" name="" placeholder="Buscar"
    (keyup)="searchTerm$.next($any($event.target).value)"
    >
</div>
    <div>
      <div class="overflow-x-auto ">
      <div class="overflow-x-auto my-3 ">
          <table class="table table w-full ">
            <thead>
              <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>ADMIN</th>
                <th>ENABLE</th>
                <th>ARCHIVED</th>
                <th>ACTUALIZADO</th>
                <th>CREADO</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of listFiltered" class="list">
                <td>
                  <a (click)="irActualizarRol(r.rolId)">
                    <svg class="h-4 w-4" fill="white" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" ><path d="M18.656.93,6.464,13.122A4.966,4.966,0,0,0,5,16.657V18a1,1,0,0,0,1,1H7.343a4.966,4.966,0,0,0,3.535-1.464L23.07,5.344a3.125,3.125,0,0,0,0-4.414A3.194,3.194,0,0,0,18.656.93Zm3,3L9.464,16.122A3.02,3.02,0,0,1,7.343,17H7v-.343a3.02,3.02,0,0,1,.878-2.121L20.07,2.344a1.148,1.148,0,0,1,1.586,0A1.123,1.123,0,0,1,21.656,3.93Z"/><path d="M23,8.979a1,1,0,0,0-1,1V15H18a3,3,0,0,0-3,3v4H5a3,3,0,0,1-3-3V5A3,3,0,0,1,5,2h9.042a1,1,0,0,0,0-2H5A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H16.343a4.968,4.968,0,0,0,3.536-1.464l2.656-2.658A4.968,4.968,0,0,0,24,16.343V9.979A1,1,0,0,0,23,8.979ZM18.465,21.122a2.975,2.975,0,0,1-1.465.8V18a1,1,0,0,1,1-1h3.925a3.016,3.016,0,0,1-.8,1.464Z"/></svg>
                  </a>
                </td>
                <td>{{r.name}}</td>
                <td>{{r.admin}}</td>
                <td>{{r.enable}}</td>
                <td>{{r.archived}}</td>
                <td>{{mutarFecha(r.updated)}}</td>
                <td>{{mutarFecha(r.created)}}</td>
           
      
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    
    


