.pantalla{
    padding: 2%;
    
}

.migas{
    text-align: center;
}

.tablaRoles{
   text-align: center;
}


input {
    
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 2rem 1rem 2rem;
    background-color: rgb(8, 94, 165);
    border-radius: 15px 0px 0px 15px ;
}
select {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem 1rem 2rem;
    background-color: rgb(8, 94, 165);
    border-radius: 0px 15px 15px 0px;
}
option{
    background-color: rgba(255, 255, 255, 0);
    color:black;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.search-bar{
}