<div class="overflow-x-auto">
    <table class="table table-compact">
      <thead class="">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permiso of permisoList">
            <td>{{permiso.name}}</td>
            <td>{{permiso.description}}</td>
            <td>
                <input class="toggle toggle-primary" type="checkbox" name="" id="">
            </td>

        </tr>
      </tbody>
    </table>
  </div>
