ul { list-style: none; } /* remove bullet points */
ul li { display: inline; } /* show list items horizontally */
/* Put an angle bracket (>) between list items */
ul li+li:before {
    content: ">";
    padding: 10px;  
}
ul li a { text-decoration: none; } /* remove underlines from links */
ul li a:hover { text-decoration: underline; } /* show underline on mouseover */

