<div class="flex flex-row p-2 bg-neutral rounded">
    <!-- <button (click)="irNuevoRol()" class="btn  h-9 w-15 btn-sm rounded bg-neutral-content text-black ">
        <svg class="w-3 h-3 mx-1" fill="black" xmlns="http://www.w3.org/2000/svg" id="Isolation_Mode" data-name="Isolation Mode" viewBox="0 0 24 24" ><polygon points="24 10.5 13.5 10.5 13.5 0 10.5 0 10.5 10.5 0 10.5 0 13.5 10.5 13.5 10.5 24 13.5 24 13.5 13.5 24 13.5 24 10.5"/></svg>
        <span class="hidden md:inline">Nuevo</span>
        
    </button> -->
    <div class="text-sm breadcrumbs text-white ml-2 flex-auto">
        <nav class="breadcrumb" aria-label="Breadcrumb" >
            <ul>
                <li *ngFor="let i of items">
                    <a [href]="i.ruta">{{i.descripcion}}</a>
                </li>
            </ul>
        </nav>
      </div>
      <input #inputSearch class="input input-primary input-sm h-10 w-55" type="text" name="" placeholder="Buscar"
      (keyup)="searchTerm$.next($any($event.target).value)"
      >
  </div>
  